<div class="contact__us" id="contact-us-form">
  <h2 class="contact__us__title">Contact Us</h2>
  <form class="form__contact" action="https://formspree.io/info@mero.design" method="post" name="contact">
    <div class="form__contact__fields__container">
      <!-- Name -->
      <div class="form__contact__field floatl floatl__js">
        <label class="floatl__label">Name</label>
        <input class="floatl__input" placeholder="Name" type="text" required="required" name="name" />
      </div>
      <!-- Email -->
      <div class="form__contact__field floatl floatl__js">
        <label class="floatl__label">Email</label>
        <input class="floatl__input" placeholder="Email" type="email" required="required" name="_replyto" />
      </div>
      <!-- Subject -->
      <div class="form__contact__field floatl floatl__js">
        <label class="floatl__label">Subject</label>
        <input class="floatl__input" placeholder="Subject" type="text" required="required" name="_subject" />
      </div>
      <!-- Message -->
      <div class="form__contact__field floatl floatl__js">
        <label class="floatl__label">Message</label>
        <textarea class="floatl__input textarea" placeholder="Message" required="required" maxlength="255" name="message"></textarea>
      </div>
    </div>
  <!-- Form footer -->
    <footer class="form__contact__footer">
      <input class="form__contact__submit__button" type="submit" value="Send">
    </footer>
    <!-- Redirect after submition -->
    <input type="hidden" name="_next" value="/contact/thank-you" />
    <!-- "honeypot" field to avoid spam by fooling scrapers -->
    <input type="text" name="_gotcha" style="display:none" />
  </form>
  <div class="contact__us__email__option">
    <p class="contact__us__email__option__description">Or just email us at </p>
    <a class="contact__us__email__option__link" href="mailto:info@mero.design">info@mero.design</a>
  </div>
</div>
