<footer id="main_footer">
  <div class="main__footer__information">
    <ul class="main__footer__contact__list">
      <li class="main__footer__contact__list__item">
        <a href="mailto:info@mero.design">
          <span class="main__footer__contact__list__item__title">E-mail </span>
          info@mero.design
        </a>
      </li>
      <li class="main__footer__contact__list__item">
        <a href="tel:+972-54-4301903">
          <span class="main__footer__contact__list__item__title">Maya Miro </span>
           +972-54-430-1903
         </a>
      </li>
      <li class="main__footer__contact__list__item">
        <a href="tel:+972-54-429721">
          <span class="main__footer__contact__list__item__title">Yaron Miro </span>
           +972-54-429-7621
         </a>
      </li>
      <li class="main__footer__contact__list__item main__footer__contact__list__item__copyrights">
          © 2017 MERO All Rights Reserved
      </li>
    </ul>
  </div>
</footer>
