<footer id="main_footer">
  <div class="main__footer__information">
    <ul class="main__footer__contact__list">
      <li class="main__footer__contact__list__item">
        <a href="mailto:info@mero.design">info@mero.design</a>
      </li>
      <li class="main__footer__contact__list__item">
        <a href="href="tel:+972-54-4301903"">Maya Miro: +972-54-430-1903</a>
      </li>
      <li class="main__footer__contact__list__item">
        <a href="href="tel:+972-54-429721"">Yaron Miro: +972-54-429-7621</a>
      </li>
    </ul>
  </div>
</footer>
