<footer id="main__footer">
  <div class="shadow__divider"></div>
  <div class="main__footer__information">
    <ul class="main__footer__list">
      <li class="main__footer__list__item main__footer__list__item__front__link">
        <a class="main__footer__list__item__wrapper"  href="#">
          <span class="main__footer__list__item__title">Back to Top</span>
         </a>
      </li>
      <li class="main__footer__list__item main__footer__list__item__front__link">
        <a class="main__footer__list__item__wrapper"  href="/">
          <span class="main__footer__list__item__title">Home</span>
         </a>
      </li>
      <li class="main__footer__list__item">
        <div class="main__footer__list__item__wrapper">
          <span class="main__footer__list__item__title">13 Ascherman Street,</span>
          <span> Tel-Aviv </span>
        </div>
      </li>
      <li class="main__footer__list__item main__footer__list__item__front__link">
        <a class="main__footer__list__item__wrapper"  href="tel:+972-54-4301903">
          <span class="main__footer__list__item__title">Phone: </span>
           <span>+972-54-430-1903</span>
         </a>
      </li>
      <li class="main__footer__list__item main__footer__list__item__front__link">
        <a class="main__footer__list__item__wrapper" href="mailto:info@mero.design">
          <span class="main__footer__list__item__title">E-mail: </span>
          <span>info@mero.design</span>
        </a>
      </li>
      <li class="main__footer__list__item">
        <div class="main__footer__list__item__wrapper">
          <span class="main__footer__list__item__title">All Rights Reserved</span>
          <span> &copy; 2017 MERO</span>
        </div>
      </li>
    </ul>
  </div>
</footer>
