<header class="main__header">
  <div id="main-header-menu" class="main__header__menu">
    <button class="main__header__menu__button">
      <img class="button__icon" src="/images/optimized/svg/menu-icon.svg" alt="Menu icon"/>
      <span class="button__text">menu</span>
    </button>
    <div class="main__header__nav__container">
      <nav class="main__header__nav">
        <ul class="main__header__menu__list">
          <li class="menu__list__item"><a class="menu__item__link" href="#">Interior Architecture</a></li>
          <li class="menu__list__item"><a class="menu__item__link" href="#">Furniture</a></li>
          <li class="menu__list__item"><a class="menu__item__link" href="#">Contact</a></li>
          <li class="menu__list__item"><a class="menu__item__link" href="#">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <a class="logo" href="/">
    <img class="logo__img" src="/images/optimized/svg/logo.svg" alt="Mero logo" />
  </a>
</header>
