<head>
  <meta charset="utf-8">
  <title>Mero Design - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6b6b6b">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/fonts/open-sans/open-sans.css">
  <link rel="stylesheet" href="/assets/fonts/anton/anton.css">

  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/bower_components/animsition/dist/css/animsition.min.css">
  <link rel="stylesheet" href="/bower_components/floatl/lib/css/floatl.css">
  <link rel="stylesheet" href="/bower_components/aos/dist/aos.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->

  <!-- JS -->
  <!-- build:js /assets/javascript/all.min.js -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/jquery-cycle2/build/jquery.cycle2.js"></script>
  <script src="/bower_components/animsition/dist/js/animsition.min.js"></script>
  <script src="/assets/javascript/vendors/retinajs-2.1.1/dist/retina.min.js"></script>
  <script src="/bower_components/floatl/lib/js/floatl.global.js"></script>
  <script src="/bower_components/aos/dist/aos.js"></script>
  <script src="/assets/javascript/script.js"></script>
  <!-- endbuild -->
</head>
