<header class="main__header">
  <a class="logo" href="/">
    <img class="logo__img" src="/images/optimized/svg/logo.svg" alt="Mero logo"/>
  </a>
  <div id="main-header-nav-container">
    <nav class="main__header__nav--narrow menu__small" id="menu-narrow">
      <ul class="main__header__menu__list">
        {% include components/menu.html %}
      </ul>
    </nav>
  </div>
  <div id="main-header-menu" class="main__header__menu">
    <button class="main__header__menu__button" id="menu-button">
      <span class="button__text">menu</span>
      <div class="menu__icon__wrapper" id="menu-icon">
        <span class="menu__icon__child"></span>
        <span class="menu__icon__child"></span>
        <span class="menu__icon__child"></span>
        <span class="menu__icon__child"></span>
      </div>
    </button>
    <nav class="main__header__nav--full">
      <ul class="main__header__menu__list">
        {% include components/menu.html %}
      </ul>
    </nav>
    <div class="shadow__divder"></div>
  </div>
</header>
