<head>
  <meta charset="utf-8">
  <title>Mero Design - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Google CDN fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Catamaran:300,400,500" rel="stylesheet">
  <!-- Custom fonts -->
  <link rel="stylesheet" href="/assets/fonts/aileron/aileron.css">

  <!-- CSS -->
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/bower_components/floatl/lib/css/floatl.css">
  <link rel="stylesheet" href="/bower_components/animsition/dist/css/animsition.min.css">
  <link rel="stylesheet" href="/bower_components/aos/dist/aos.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->

  <!-- JS -->
  <!-- build:js /assets/javascript/all.min.js -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/floatl/lib/js/floatl.global.js"></script>
  <script type="text/javascript" src="/bower_components/animsition/dist/js/animsition.min.js"></script>
  <script type="text/javascript" src="/bower_components/aos/dist/aos.js"></script>
  <script src="/assets/javascript/script.js"></script>
  <!-- endbuild -->
</head>
