<li class="menu__list__item{% if page.type == 'interior-architecture' %} menu__list__item--active{% endif %}"><a class="menu__item__link" href="/interior-architecture">Interior Architecture</a></li>
<li class="menu__list__item{% if page.type == 'furniture' %} menu__list__item--active{% endif %}"><a class="menu__item__link" href="/furniture">Furniture</a></li>
<li class="menu__list__item"><a class="menu__item__link" href="/about#contact-us-form">Contact</a></li>
<li class="menu__list__item{% if page.type == 'about' %} menu__list__item--active{% endif %}"><a class="menu__item__link" href="/about">About</a></li>
