<ul class="team__list">
  <li class="team__list__item">
     <div class="team__list__item__header">
       <div class="team__list__item__img__container">
         <img class="team__list__item__img" data-rjs="3" src="/images/optimized/yaron.jpg" alt="Yaron Miro image"/>
       </div>
     </div>
     <div class="team__list__item__info">
       <h3 class="team__list__item__title">
         <span>Yaron Miro</span>
         <span class="team__list__item__title__position"> Co-Founder</span>
       </h3>
       <ul class="team__list__item__attributes">
         <li class="attributes__item">Seasoned graphic designer.</li>
         <li class="attributes__item">Web designer & Web developer.</li>
       </ul>
       <p class="team__list__item__description">Designing home decor was a life long dream since I can remember.</p>
    </div>
  </li>
  <li class="team__list__item">
    <div class="team__list__item__header">
      <div class="team__list__item__img__container">
        <img class="team__list__item__img" data-rjs="3" src="/images/optimized/maya.jpg" alt="Maya Miro image"/>
      </div>
    </div>
    <div class="team__list__item__info">
      <h3 class="team__list__item__title">
        <span>Maya Miro</span>
        <span class="team__list__item__title__position"> Co-Founder</span>
      </h3>
      <ul class="team__list__item__attributes">
        <li class="attributes__item">Graduate of interior design at HIT Institute.</li>
        <li class="attributes__item">Private homes designer and decorator.</li>
      </ul>
      <p class="team__list__item__description">Started designing furniture as a part of my interior design projects and it became my greatest passion.</p>
   </div>
 </li>
</ul>
