html
  font-size: 16px

  &.no__scroll
    overflow-y: scroll !important
    overflow: hidden !important
    height: 100% !important
    margin-top: 0 !important

body
  color: $black
  letter-spacing: 0.04rem

  &.no__scroll
    position: fixed !important
    overflow: hidden !important
    width: 100% !important
    height: 100% !important


.divider
  +divider(1px, $gray-lighter)

.divider__wrapper
  position: relative
  margin: 3rem 0 3.2rem

  +respond-at($breakpoint-S)
    margin: 4rem 0 5rem

  +respond-at($breakpoint-L)
    padding: 0 5rem

  &.divider__wrapper--angeled-one
    // transform: rotate(-3deg)

  &.divider__wrapper--angeled-two
    // transform: rotate(3deg)
