// Font Names
$open-sans: 'Open Sans', sans-serif
$font-anton: 'Anton', sans-serif
$sans-serif:  Arial, Verdana, sans-serif
$monospace:  monospace

// Font Weights
$weight-light: 300
$weight-regular: 400
$weight-semi-bold: 600

// Default font stack
body
  font-weight: $weight-light
  font-family: $open-sans, $sans-serif
  letter-spacing: .015rem
