// Font Names
$open-sans: 'open sans'
$anton: 'anton'
$sans-serif:  Arial, Verdana, sans-serif
$monospace:  monospace

// Font Weights
$weight-light: 300
$weight-regular: 400
$weight-semi-bold: 600
$weight-bold: 700

// Default font stack
body
  font-weight: $weight-light
  font-family: $open-sans, $sans-serif
  letter-spacing: .015rem
