.container__main
  position: relative
  margin: 0 auto
  padding: 3.6rem 7% 3.6rem

  +respond-at($breakpoint-S)
    padding-left: 0
    padding-right: 0
    max-width: $container-S

  +respond-at($breakpoint-M)
    max-width: $container-M

  +respond-at($breakpoint-L)
    padding-left: 25px
    padding-right: 25px
    max-width: $container-L
