.container__main
  position: relative
  margin: 0 auto
  padding: 3.6rem 7%

  +respond-at($breakpoint-S)
    padding-left: 0
    padding-right: 0
    max-width: $container-S

  +respond-at($breakpoint-M)
    max-width: $container-M

  +respond-at($breakpoint-L)
    padding-left: 1.5rem
    padding-right: 1.5rem
    max-width: $container-L
