.main__header
  text-align: center

  +respond-at($breakpoint-L)
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
    border-bottom: 0

.main__header__menu
  padding-bottom: .5rem
  border-bottom: 1px solid $gray-lighter

  +respond-at($breakpoint-M)
    border-bottom: 0

  +respond-at($breakpoint-L)
    padding-bottom: 0
    padding-right: 2rem
    width: 50%

.main__header__menu__button
  +reset-button-style()
  display: flex
  margin: 0 auto
  padding: 0 5%
  width: 100%
  flex-direction: row
  align-items: center
  justify-content: space-between
  font-size: 2.7rem

  +respond-at($breakpoint-S)
    font-size: 3.7rem

  +respond-at($breakpoint-M)
    display: none

  .button__icon
    width: .7em
    display:block
    margin-right: 0.4rem

  .button__text
    display: block
    font:
      size: .7em
      weight: $weight-regular
    text-transform: uppercase

#main-header-nav-container
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $white
  opacity: 0
  visibility: hidden
  transition: all .5s ease
  z-index: 1000

  +respond-at($breakpoint-M)
    display: none

  &.open__mobile__navigation
    opacity: 1
    visibility: visible
    padding: 0

  .outer-close
    position: absolute
    right: 0
    top: 0
    width: 5rem
    height: 5rem
    cursor: pointer

    .close
      position: fixed
      top: 2.5rem
      right: 3.8rem
      color: white
      z-index: 3
      cursor: pointer
      font-family: sans-serif

      span,
      span:before,
      span:after
        border-radius: .3rem
        height: .4rem
        width: 2.2rem
        background: $black
        position: absolute
        display: block
        content: ""

      span
        background: transparent

        &::before
          transform: rotate(45deg)

        &::after
          transform: rotate(-45deg)

  .main__header__nav--narrow
    display: flex
    flex-direction: column
    justify-content: center
    margin: 6rem auto 0
    text-align: left

    +respond-at(420px)
      max-width: 60%

    +respond-at($breakpoint-S)
      text-align: center

    .main__header__menu__list
      +reset-list-style()
      font:
        size: 1rem
        weight: $weight-regular
      line-height: 1.5rem
      border-top: 1px solid $gray-lighter

      +respond-at($breakpoint-S)
        font-size: 1.5rem

      .menu__list__item
        display: block
        text-transform: uppercase

        &.menu__list__item--active
          color: $gold

          .menu__item__link
            &:before
              visibility: hidden

        .menu__item__link
          position: relative
          display: block
          color: inherit
          text-decoration: none
          padding: 10% 5%
          cursor: pointer
          border-bottom: 1px solid $gray-lighter

          &:hover
            color: $gold
            transition: color 0.3s ease


.main__header__nav--full
  display: none

  +respond-at($breakpoint-M)
    display: block

  .main__header__menu__list
    +reset-list-style()
    font:
      size: 1.2rem
      weight: $weight-regular

  .menu__list__item
    display: inline-block
    text-transform: uppercase

    &+.menu__list__item
      margin-left: 1.85rem

    &.menu__list__item--active
      position: relative
      &:before
        content: ""
        position: absolute
        width: 100%
        height: .05rem
        bottom: -.75rem
        left: 0
        background: $gold

      .menu__item__link
        &:hover
          opacity: 1

          &:before
            visibility: hidden

    .menu__item__link
      position: relative
      display: block
      color: inherit
      text-decoration: none
      cursor: pointer
      transition: all 0.5s ease
      opacity: .8

      &:before
        content: ""
        position: absolute
        width: 100%
        height: .05rem
        bottom: -.75rem
        left: 0
        background: $gold
        visibility: hidden
        transform: scaleX(0)
        transition: all 0.3s ease-in-out 0s

      &:hover
        opacity: 1
        transform: scale(1.0)

        &:before
          visibility: visible
          transform: scaleX(1)

.logo
  display: block
  margin: 2.5rem auto 0
  max-width: 70%

  +respond-at($breakpoint-S)
    margin-top: 4rem

  +respond-at($breakpoint-M)
    max-width: 55%

  +respond-at($breakpoint-L)
    max-width: 27rem
    margin: 0

  .logo__img
    max-width: 100%
    height: auto
