.main__header
  display: flex
  flex-direction: column-reverse
  text-align: center

  +respond-at($breakpoint-L)
    position: relative
    z-index: 999
    margin-bottom: 1rem
    padding: .75rem 3rem 0
    flex-direction: row
    align-items: center


.main__header__menu
  padding-bottom: 1rem
  border-bottom: 1px solid $gray-lighter

  +respond-at($breakpoint-M)
    padding-bottom: 0
    border-bottom: 0

  +respond-at($breakpoint-L)
    margin-top: .6rem
    margin-left: 9rem

.main__header__menu__button
  +reset-button-style()
  display: flex
  margin: 0 auto
  padding: 0 5%
  width: 100%
  flex-direction: row
  align-items: center
  justify-content: space-between
  font-size: 2.7rem

  +respond-at($breakpoint-S)
    font-size: 3.7rem

  +respond-at($breakpoint-M)
    display: none

  .button__icon
    width: .7em
    display:block
    margin-right: 0.4rem

  .button__text
    display: block
    font:
      size: .7em
      weight: $weight-regular
    text-transform: uppercase

#main-header-nav-container
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $white
  opacity: 0
  visibility: hidden
  transition: all .5s ease
  z-index: 1000

  +respond-at($breakpoint-M)
    display: none

  &.open__mobile__navigation
    opacity: 1
    visibility: visible
    padding: 0

  .outer-close
    position: absolute
    right: 0
    top: 0
    width: 5rem
    height: 5rem
    cursor: pointer

    .close
      position: fixed
      top: 2.5rem
      right: 3.8rem
      color: white
      z-index: 3
      cursor: pointer
      font-family: sans-serif

      span,
      span:before,
      span:after
        border-radius: .3rem
        height: .4rem
        width: 2.2rem
        background: $black
        position: absolute
        display: block
        content: ""

      span
        background: transparent

        &::before
          transform: rotate(45deg)

        &::after
          transform: rotate(-45deg)

  .main__header__nav--narrow
    display: flex
    flex-direction: column
    justify-content: center
    margin: 6rem auto 0
    text-align: left

    +respond-at(420px)
      max-width: 60%

    +respond-at($breakpoint-S)
      text-align: center

    .main__header__menu__list
      +reset-list-style()
      font:
        size: 1rem
        weight: $weight-regular
      line-height: 1.5rem
      border-top: 1px solid $gray-lighter

      +respond-at($breakpoint-S)
        font-size: 1.5rem

      .menu__list__item
        display: block
        text-transform: uppercase

        &.menu__list__item--active

          .menu__item__link
            opacity: 1

        .menu__item__link
          position: relative
          display: block
          color: inherit
          text-decoration: none
          padding: 10% 5%
          cursor: pointer
          border-bottom: 1px solid $gray-lighter
          opacity: .4

          &:hover
            opacity: 1


.main__header__nav--full
  display: none

  +respond-at($breakpoint-M)
    display: block

  .main__header__menu__list
    +reset-list-style()
    font:
      size: 1.1rem
      weight: $weight-regular

  .menu__list__item
    display: inline-block
    text-transform: uppercase

    &+.menu__list__item
      margin-left: 1.85rem

    &.menu__list__item--active

      .menu__item__link
        opacity: 1

    .menu__item__link
      display: block
      color: inherit
      text-decoration: none
      cursor: pointer
      transition: all .15s ease
      opacity: .4

      &:hover
        opacity: 1

.logo
  display: block
  margin: 2.5rem auto 0
  max-width: 60%

  +respond-at($breakpoint-S)
    margin-top: 4rem

  +respond-at($breakpoint-M)
    max-width: 55%

  +respond-at($breakpoint-L)
    max-width: 14rem
    margin: 0

  .logo__img
    max-width: 100%
    height: auto
