.about__page

.about__page__header
  display: flex
  flex-direction: row
  justify-content: space-between


.logo
  display: block
  margin-top: 2rem
  width: 24.5rem
  height: auto

  &:focus
    outline: 0

  .logo__img
    display: inherit
    width: inherit
    height: inherit


.sub__title
  display: inline-block
  margin: .9rem 0 0 0
  font:
    size: 2.5rem
    weight: $weight-thin
  text-transform: uppercase


.hero
  display: flex
  flex-direction: column
  margin-top: 1rem

  img
    max-width: 100%
    height: auto


.hero__quote
  margin: 1.5rem 7.2rem 0 0

  /* Align flex child to the left */
  margin-left: auto
  text-align: center
  font-size: 1.3rem
  max-width: 19rem
  line-height: 1.8rem


.hero__quote__title
  font:
    size: 1.6rem
    weight: $weight-light
  display: block


.founders__list
  margin-top: 3.3rem
  padding-left: 0
  list-style: none


.founders__list__item
  display: flex
  flex-direction: row
  align-items: center
  padding: 0

  &:last-child
    margin-top: 3.3rem


.founders__list__item__img
  position: relative
  height: 15rem

  &::after
    content: ""
    position: absolute
    top: .4rem
    bottom: .4rem
    left: .4rem
    right: .4rem
    opacity: .8
    border: .15rem solid $white

  img
    max-height: 100%


.founders__list__item__info
  margin-left: 1.4rem
  max-width: 25rem
  font:
    size: 1.25rem
    weight: $weight-light
  line-height: 1.5rem

  .title
    margin: 0
    font-size: 1.6rem
    text-transform: uppercase
    font-weight: $weight-light
    color: #9a8e76

  .skills__list
    list-style: none
    margin-top: .8rem
    padding: 0

  .skills__list__item
    margin: .3rem 0 0
    padding: .25rem 0
    border-bottom: 1px solid $soft-border

    &::before
      // content: "-"
      // padding-right: .4rem

    &:first-child
      margin-top: 0

  .info
    margin: 1.2rem 0 0
    line-height: 1.8rem


.divider__angeled
  margin-top: -.2rems
  +divider(1px, #9a8e76)

  &.divider__angeled--one
    transform: rotateZ(8.5deg)

  &.divider__angeled--two
    margin-bottom: 7.3vw
    transform: rotateZ(-8.5deg)

  &.divider__angeled--three
    margin: 4.4vw 0 3.7vw
    transform: rotateZ(2deg)

  &.divider__angeled--four
    margin: 3.9vw 0 4vw
    transform: rotateZ(-3deg)

  &.divider__angeled--five
    margin: 4vw 0 3.7vw
    transform: rotateZ(2deg)


.info__block
  padding: 0 2rem

  .title
    font:
      family: $anton
      weight: normal
    font-size: 4.85rem

  .sub-title
    font-weight: $weight-light

  .description
    margin: 0
    font:
      size: 1.35rem
      weight: $weight-light
    line-height: 2rem


  &.info__block--respect
    max-width: 77.4rem

    .title
      margin: -1.3rem 0 0 10.1rem

  &.info__block--core
    display: flex
    flex-direction: row
    align-items: center

    .title
      margin: 1rem 2rem 0 10rem
      transform: rotateZ(-9.1deg)
      text-transform: uppercase

    .sub-title
      display: block

    .description
      max-width: 58rem

  &.info__block--quality
    text-align: center

    .title
      margin: 0
      font-size: 3.7rem
      text-transform: capitalize

      small
        font-size: 0.7em

    .sub-title
      margin: 0.6rem 0 0
      font:
        size: 1.4rem
        weight: $weight-light

    .description
      max-width: 46rem
      margin: 1.75rem auto 0

  &.info__block--design
    margin-left: 10rem

    .title
      margin: 0
      font-size: 4.2rem
      text-transform: capitalize

      small
        font-size: 0.7em

    .sub-title
      margin: -0.6rem 0 0
      font:
        size: 1.4rem
        weight: $weight-light

    .description
      max-width: 64rem
      margin: 1.65rem 0 0

  &.info__block--clientele
    display: flex
    flex-direction: row
    align-items: center

    .title
      margin: 0 2rem 0 17.5rem
      font-size: 3.3rem

    .sub-title
      display: block

    .description
      max-width: 35rem


.respect__infograph
  height: auto
  max-width: 100%
  margin: 4.2rem 0 5.9rem 9.1rem
