.content
  display: flex
  flex-direction: column
  margin-top: 4.4rem

  +respond-at($breakpoint-L)
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
    margin-top: 0


.collage
  text-align: center

  +respond-at($breakpoint-L)
    width: 50rem

  .collage__img
    max-width: 100%
    height: auto


.team__list
  list-style: none
  margin: 9rem 0 0
  padding: 0
  display: flex
  flex-direction: column
  align-items: center

  +respond-at($breakpoint-M)
    margin-top: 0


.team__list__item
  position: relative
  display: flex
  flex-direction: column
  max-width: 25rem

  +respond-at($breakpoint-M)
    flex-direction: row
    align-items: center
    margin-bottom: 70px
    max-width: 860px

  +respond-at($breakpoint-L)
    margin-bottom: 0
    &::before
      position: absolute
      content: ""
      top: 44px
      left: 186px
      height: 160px
      width: 20px
      border-top: 2px solid $gold
      border-bottom: 2px solid $gold

    &::after
      position: absolute
      content: ""
      top: 6px
      left: 205px
      height: 240px
      border-left: 2px solid $gold

  &+.team__list__item
    margin-top: 3rem

    +respond-at($breakpoint-L)
      margin-top: 30px


.team__list__item__header
  position: relative
  height: 14rem
  background: #3e3e3e

  +respond-at($breakpoint-M)
    flex-shrink: 0
    width: 385px

  +respond-at($breakpoint-L)
    width: auto
    height: auto
    background: transparent


.team__list__item__img__container
  overflow: hidden
  position: absolute
  top: 1.5rem
  right: 2rem
  width: 11rem
  box-shadow: 0px 0.25rem 0.9rem 0px rgba(0, 0, 0, 0.23)
  border-radius: .25rem

  +respond-at(420px)
    width: 12.5rem

  +respond-at($breakpoint-M)
    width: 220px

  +respond-at($breakpoint-L)
    position: relative
    top: auto
    right: auto
    width: 186px

.team__list__item__img
  display: block
  max-width: 100%
  height: auto


.team__list__item__info
  margin-top: 6.2rem
  font-size: 1.3rem

  +respond-at($breakpoint-M)
    margin-left: 2.5rem
    max-width: 25rem

  +respond-at($breakpoint-L)
    margin-top: 0

.team__list__item__title
  text-transform: uppercase
  text-transform: uppercase
  margin: .8rem 0 .58rem
  font-size: 1.6rem
  font-weight: $weight-regular

  +respond-at($breakpoint-L)
    margin-top: 0


.team__list__item__attributes
  +reset-list-style()

  .attributes__item

    &+.attributes__item
      margin-top: .4rem

.team__list__item__description
  margin-bottom: 0


.divider
  +divider(1px, $gray-lighter)

  &.divider--angeled-one
    transform: rotate(-6deg)

  &.divider--angeled-two
    transform: rotate(6deg)


.info__block
  padding: 3.5rem 0
  text-align: center

  +respond-at(420px)
    padding-right: 1.5rem
    padding-left: 1.5rem

  +respond-at($breakpoint-S)
    padding-right: 2.5rem
    padding-left: 2.5rem


  .title
    margin: 0 0 .5rem
    font:
      family: $anton
      weight: normal
    font-size: 4.85rem

  .sub-title
    margin: 0 1.5rem 0
    color: $gold
    font:
      size: 1.5rem
      weight: $weight-regular
    line-height: 1.8rem

  .description
    margin: 1rem 0 0
    font-size: 1.4rem
    line-height: 2rem


  &.info__block--respect
    margin-bottom: 12.5rem
    padding-bottom: 0

    +respond-at($breakpoint-M)
      padding-top: 0

    .title
      margin: 2.5rem 0 4.7rem

      +respond-at($breakpoint-M)
        margin: 0 0 4.7rem
        text-align: left


  &.info__block--core
    .title
      text-transform: uppercase

    .sub-title
      margin-top: -.5rem

  &.info__block--design
    .title
      font-size: 4.2rem

  &.info__block--quality
    .title
      font-size: 3.75rem

      small
        display: block
        font-size: 2.45rem

        +respond-at(580px)
          display: inline-block

  &.info__block--clientele
    .title
      display: inline-block
      padding: .5rem 1rem
      font-size: 2.55rem
      border: .14rem solid $gold

      +respond-at(380px)
        font-size: 3.2rem


.respect__infograph
  display: none

  +respond-at($breakpoint-M)
    display: block
    width: 61.35rem
    height: auto

.respect__list
  +reset-list-style()
  max-width: 28.5rem
  margin: 0 auto 5.6rem

  +respond-at($breakpoint-M)
    display: none

  .respect__list__item
    position: relative
    padding-bottom: 20px
    font-size: 1.55rem
    line-height: 1.4rem

    .name
      display: inline-block
      padding: 0 2rem
      line-height: 2.1rem

    &::after
      position: absolute
      content: ""
      left: 0
      bottom: 0
      width: 100%
      border-bottom: 1px solid gray

    &:nth-child(odd)::before,
    &:nth-child(even)::before
      z-index: 3
      position: absolute
      content: ""
      bottom: -.4rem
      height: 1.5rem
      width: 1.5rem
      background: white
      border: 1px solid gray

    &:nth-child(odd)
      padding-right: 25px

      &::before
        right: 0

      &::after
        transform: rotate(-2deg)

    &:nth-child(even)
      padding-left: 2.1rem

      &::before
        left: 2.1rem

      &::after
        transform: rotate(2deg)

    &+.respect__list__item
      margin-top: 4.5rem
