.about__page

.logo
  display: block
  width: 24.5rem
  height: auto

  &:focus
    outline: 0

  .logo__img
    display: inherit
    width: inherit
    height: inherit

.sub__title
  display: inline-block
  margin-top: .9rem
  font-size: 2.5rem
  text-transform: uppercase
