.about__page
  +respond-at($breakpoint-L)
    margin-top: 3rem

  .content
    display: flex
    flex-direction: column
    margin-top: 2.5rem

    +respond-at($breakpoint-S)
      margin-top: 4.4rem

    +respond-at($breakpoint-L)
      flex-direction: row
      align-items: center
      margin-top: 0

  .last
    +respond-at($breakpoint-L)
      border-left: 1px solid $gray-lighter
      padding-left: 3rem
      margin-left: 3rem

    .divider__wrapper
      +respond-at($breakpoint-L)
        display: none

  .respect__infograph
    width: 100%
    height: auto
    display: none

    +respond-at($breakpoint-M)
      display: block

    +respond-at($breakpoint-L)
      margin: 0 auto
      width: 57rem

  .respect__list
    +reset-list-style()
    margin-top: 2.5rem

    +respond-at($breakpoint-M)
      display: none

    .respect__list__item
      position: relative
      padding-bottom: 0
      font-size: 1rem
      line-height: 1.5rem

      +respond-at($breakpoint-S)
        font-size: 1.3em

      &+.respect__list__item
        margin-top: 2rem

      .name
        display: inline-block
        padding: 0 2rem

      .respect__list__item__img
        width: 73%
        margin: 0 auto
        display: block
