.team__list__wrapper
  +respond-at($breakpoint-M)
    // margin: 0 8%

  .title
    padding-left: 20%

    +respond-at($breakpoint-M)
      padding-left: 0

  .team__list
    list-style: none
    margin: 1.5rem 0 0
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    +shadow(bottom)

    +respond-at($breakpoint-M)
      margin: 0

  .team__list__item
    position: relative
    display: flex
    flex-direction: column
    padding: 0 20% 3rem
    +shadow(bottom)

    +respond-at($breakpoint-S)
      padding-bottom: 4rem

    +respond-at($breakpoint-M)
      flex-direction: row
      align-items: center
      margin-top: 2rem
      padding: 0 8% 3rem

    +respond-at($breakpoint-L)
      margin-bottom: 3rem

    &+.team__list__item
      margin-top: 3rem
      padding-bottom: 3rem
      +remove-shadow(bottom)

      +respond-at($breakpoint-S)
        margin-top: 4rem
        padding-bottom: 4rem

      +respond-at($breakpoint-M)
        margin: 3rem 0 0
        // margin: 3rem 8% 0
        padding-bottom: 3rem

  .team__list__item__header
    padding: 1rem 0
    background-color: $black
    background-image: url('/images/optimized/founder-bg.jpg')
    +retina('/images/optimized/founder-bg.jpg', 2, 100% 100%)
    +retina('/images/optimized/founder-bg.jpg', 3, 100% 100%)
    background-repeat: no-repeat
    background-size: 100% 100%
    border-radius: 3px

    +respond-at($breakpoint-M)
      padding: .5rem
      margin-right: 1.5rem

  .team__list__item__img__container
    overflow: hidden
    margin: 0 auto
    width: 6rem
    border-radius: 3px

    +respond-at(500px)
      width: 7rem

    +respond-at($breakpoint-S)
      width: 8.5rem

  .team__list__item__img
    display: block
    max-width: 100%
    height: auto

  .team__list__item__info
    font-size: 1rem
    line-height: 1.5rem

    +respond-at(420px)
      font-size: 1.2rem

    +respond-at($breakpoint-S)
      font-size: 1.3rem

    +respond-at($breakpoint-M)
      margin-top: 0

    +respond-at($breakpoint-L)
      margin-top: 0
      font-size: 1.2rem

  .team__list__item__title
    text-transform: uppercase
    margin: .8em 0 .58em
    font-size: 1em
    font-weight: $weight-semi-bold

    +respond-at($breakpoint-M)
      margin-top: 0

    .team__list__item__title__position
      display: block
      color: rgba($black, .4)

      +respond-at($breakpoint-S)
        display: inline-block
        &::before
          content: " |"

  .team__list__item__attributes
    +reset-list-style()

    .attributes__item

      &+.attributes__item
        margin-top: .4em

  .team__list__item__description
    margin-bottom: 0
