---
layout: default
title: About Us
type: about
---
<div class="about__page">
  <section class="content">
      <!-- First -->
    <div class="first">
      <div class="collage">
        <img class="collage__img" data-rjs="3" src="/images/optimized/collage-new.jpg" alt="Collage image made by Mero"/>
      </div>
    </div>
    <!-- Last -->
    <div class="last">
      <div class="team__list__wrapper">
        <h1 class="title">{{ page.title }}</h1>
        {% include pages/about/team_list.html %}
      </div>
    </div>
  </section>
  <section class="info__block info__block--respect">
    <h3 class="title">Respect</h3>
    <ul class="respect__list">
      <li class="respect__list__item">
        <span class="name">Dada</span>
        <img class="respect__list__item__img" src="/images/optimized/svg/respect-list-divider-odd.svg" alt="list image divider">
      </li>
      <li class="respect__list__item">
        <span class="name">Hans Zimmer</span>
        <img class="respect__list__item__img" src="/images/optimized/svg/respect-list-divider-even.svg" alt="list image divider">
      </li>
      <li class="respect__list__item">
        <span class="name">Jeremy Mann</span>
        <img class="respect__list__item__img" src="/images/optimized/svg/respect-list-divider-odd.svg" alt="list image divider">
      </li>
      <li class="respect__list__item">
        <span class="name">Dale Chihuly</span>
        <img class="respect__list__item__img" src="/images/optimized/svg/respect-list-divider-even.svg" alt="list image divider">
      </li>
      <li class="respect__list__item">
        <span class="name">Tarantino</span>
        <img class="respect__list__item__img" src="/images/optimized/svg/respect-list-divider-odd.svg" alt="list image divider">
      </li>
      <li class="respect__list__item">
        <span class="name">Zaha Hadid</span>
        <img class="respect__list__item__img" src="/images/optimized/svg/respect-list-divider-even.svg" alt="list image divider">
      </li>
    </ul>
    <img class="respect__infograph" src="/images/optimized/svg/respect.svg" alt="infograph of people that are been respected by Mero"/>
  </section>
  <section class="info__block info__block--core">
    <h3 class="title">Core</h3>
    <p class="description">
      <span class="sub__title">Exclusive, Innovative, Luxurious, Sophisticated Interior décor</span>
      On our journey, towards building a bridge between long lasting prestige design and art,
      we strive to evoke a sense of excitement by creating our pieces with great passion and
      pushing the limits of creativity. Using the most high quality materials, considering even
      the smallest of details and working with a genius group of craftsman with years of
      accumulated experience.
    </p>
  </section>
  <section class="info__block info__block--quality">
    <h3 class="title">Quality <small>Over</small> Quantity</h3>
    <h4 class="sub__title">No detail is too small to be overlooked</h4>
    <p class="description">Every element is carefully thought off before the realization of a design process.
    Each piece has a distinct and unique personality, Inside and out.
    Each design is a unique, one of a kind model, no two pieces are exactly alike.
    A high quality end result always comes first.
    </p>
  </section>
  <section class="info__block info__block--design">
    <h3 class="title">Design Process</h3>
    <h4 class="sub__title">We eat ,dream and breath Design</h4>
    <p class="description">
    Our design process starts from the inside, The interior parts of each piece is
    as important to us as the exterior design. We believe in inventing our brand from
    start every day with no regards to the design state of mind we were in the day before.
    In order to make a truly exciting piece we must shake all inhibitions and take a vision
    leap towards a courageous  and innovative design.
    </p>
  </section>
  <section class="info__block info__block--clientele">
    <h3 class="title">Our clientele</h3>
    <p class="description">
    The high craftsmanship and materials make incredibly beautiful
    long living pieces which make our clients come back for more.
    We appeal to those who are looking to be surprised and
    who appreciate a meticulously detailed design - inside and out.
    </p>
  </section>
  {% include components/contact-form.html %}
</div>
