.contact__us
  .contact__us__title
    text-align: center
    font:
      family: $anton
      weight: normal
    font-size: 4.85rem

  .form__contact__fields__container
    font-size: 2.25rem

    .form__contact__field
      min-height: 4rem
      border-bottom: 1px solid $gray-lighter

    .floatl__input.textarea
      min-height: 10em
      max-width: 100% !important

    /* Custom style to overwrite the default float-label style. */
    .floatl--focused
      background-color: lighten($gold, 56%)

    .floatl--error
      background-color: lighten($error, 45%)

      .floatl__label
        color: $error

    input.floatl__input
      height: auto
      background-color: transparent

    .floatl__label,
    .floatl__input,
    .floatl--active.floatl--multiline .floatl__label
      background: transparent
      background-color: transparent

    .floatl__label
      margin-top: .3em
      font-size: .4em

    .floatl--focused .floatl__label,
    .floatl__label
      color: $gold

    .floatl--active .floatl__input
      padding: 1.5em .55em .3em

    .floatl__input
      padding: 1.1em 1em .3em
      width: 100%
      border: 0
      border-radius: 0
      font-size: .45em

  .form__contact__footer
    margin-top: .4em

    +respond-at($breakpoint-S)
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

  .form__contact__description
    font-size: .85em


  .form__contact__description__item
    position: relative
    display: block
    padding-left: .7em
    line-height: 1.5em

    &::before
      position: absolute
      content: "*"
      top: .35em
      left: 0
      color: $gold
      font-size: 1.2em

    &:first-child
      margin-bottom: .32em


  .form__contact__submit__button
    +reset-button-style()
    display: block
    margin-top: 1em
    padding: 0 .5em .25em
    color: $white
    background-color: $black
    width: 100%
    text-align: center
    font-size: .9em

    +respond-at($breakpoint-S)
      width: auto
      display: inline-block
