<div class="hero">
  <div class="hero__content">
    <!-- Hero icons block -->
    <div class="hero__content__container hero__content__container__icons">
      <ul class="hero__content__container__icons-list">
        <li class="hero__content__container__icons-list__item bg--blue">iOS</li>
        <li class="hero__content__container__icons-list__item bg--green">macOS</li>
        <li class="hero__content__container__icons-list__item bg--purple">Swift</li>
        <li class="hero__content__container__icons-list__item bg--pink">Xcode</li>
      </ul>
      <h1 class="hero__content__container__icons__title">iOS & macOS Tutorials for Developers</h1>
    </div>
    <!-- Hero slogan block -->
    <div class="hero__content__container hero__content__container__slogan">
      <div class="hero__content__container__slogan__logo"></div>
      <h2 class="hero__content__container__slogan__title">Development While Going The Extra Mile</h2>
    </div>
  </div>
</div>
