/** Breakpoints **/
$breakpoint-S: 675px
$breakpoint-M: 1028px
$breakpoint-L: 1490px

/** Containers **/
$container-S: 590px
$container-M: 900px
$container-L: $breakpoint-L

/** Black **/
$black: black
$gray-light: lighten($black, 75%)
$gray-lighter: lighten($black, 85%)
$white: white

// Colors
$gold: #b9ae7d
$success: #23b574
$error: lighten(red, 25%)
